#tOracle{
  font-family: 'Audiowide', cursive;
  float: left;
  color: #ED2226;
  font-size: 22px;
}
#imageJava{
	float: left;
	height: 50px;
}
#java{
	float: left;
	color: #5A87A4;
	margin-top: 0px;
	font-family: 20px;
	margin-left: -8px;
}
#documentation{
	float: left;
	color: #5A87A4;
	font-size: 16px;
	margin-top: 18px;
	margin-left: 10px;
}
#blockHeader{
	clear: both;
}
.sup{
	font-size: 5px;
}
#contenedor{
	height: 100px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(100%, rgba(119,188,209,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	margin-bottom: 25px;
}
#contenedorDos{
margin-bottom: -20px;
border-top: solid 1px #7592FF;
}
#tTheJava{
	font-family: Arial;
	font-size: 20px;
	font-style: bold;
	color: black;
	position: absolute;
	margin-top: 3em;
	margin-left: 1em;
}
main{
	margin-left: 20px;
	width: 85%;
	margin-right: 15%;

}
aside{
	float: right;
	width: 10%;
	margin-left: 10px;
}
#pato{
	
}
#sectionOne{

}
.FontBody{
	font-size: 12px;
	font-family: Arial;
}
#cajaSectionOne{
	border: 1px solid black;
	height: 40px;
	background-color: #F7F8F9;
	padding: 5px;
}
.tSectionOne{
	padding: 15px;
	margin: 0 10px;
	color: #000000;
	font-family: Arial;
	font-style: italic;
	font-size: 12px;
}
#AsideBoxOne{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(11%, rgba(255,255,255,1)), color-stop(100%, rgba(119,188,209,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 11%, rgba(119,188,209,1) 100%);
	border: double;
	padding: 20px;
	height: 4em;
}
.TittleSectionTwo{
	font-family: sans-serif;
	font-size: 17px;
	margin-top: 15px;
	margin-top: 20px;
	font-style: bold;
}
.Arial12px{
	font-family: Arial;
	font-size: 12px;
	line-height: 1.5em;
}
a{
	text-decoration: none;
}
#buttonSectionTwo{
	background-color: red;
	color: white;
	font-family: Arial;
	font-style: bold;
	padding: 5px;
	margin-top: 10px;
}
.divButton{
	margin-top: 1.5em;
}
#AsideBoxTwo{
	margin-top: 1em;
	border: double;
	height: 8em;
	text-align: center;
	padding: 0.5em;

}
.liSectionTwo{
	font-family: sans-serif;
	font-size: 10px;
	text-align: left;
	margin-left: -2em;
	
}

.ulBlue {
    list-style-image: url(img/bluearrow.png);
}